---
title: SIBR Project Directory
permalink: /projects
excerpt: The project directory for SIBR
---

<div>The following projects are hosted on the SIBR servers or use other resources provided by SIBR.</div>

{% assign categories =  site.projects | group_by: "categories" | sort:"name" %}

{% for cat in categories %}
<h2>{{ cat.name | remove: '[' | remove: ']' | remove: '"' }}</h2>
{% assign projects =  cat.items | sort_natural:"name" %}
{% for project in projects %}
    <div class="project">
        <p>
            <strong>{{ project.name }}</strong>: {{ project.content }}
        </p>

        <ul class="links">
            {% if project.site %}<li><a href="{{ project.site }}" target="_blank">Site</a></li>{% endif %}
            {% if project.code %}<li><a href="{{ project.code }}" target="_blank">Code</a></li>{% endif %}
            {% if project.tasks %}<li><a href="{{ project.tasks }}" target="_blank">Project Board / Tasks</a></li>{% endif %}
            {% if project.status_slug %}
                <li><a href="https://status.sibr.dev/services/{{ project.status_slug }}" target="_blank"><img src="https://status.sibr.dev/api/v1/badges/uptime/24h/{{ project.status_slug }}.svg" /></a></li>
            {% endif %}
        </ul>
    </div>
{% endfor %}
{% endfor %}