@font-face {
  font-family: "NotoSerif V";
  src: url("NotoSerifV-subset.woff2") format("woff2-variations"),
       url("NotoSerifV-subset.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 200 700;
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: "NotoSerif V";
  src: url("NotoSerifV-Italic-subset.woff2") format("woff2-variations"),
      url("NotoSerifV-Italic-subset.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 200 700;
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: "NotoSerif";
  src: url("NotoSerif-Regular-subset.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("NotoSerif-Italic-subset.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "NotoSerif";
  src: url("NotoSerif-Bold-subset.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSerif";
  src: url("NotoSerif-BoldItalic-subset.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}