html {
  font-family: var(--serif);
  background-color: oklch(var(--purble-background));
  /* background-color: oklch(13.23% 0.064 314.63); */
}

body {
  margin: var(--space-s-l, 1.5rem);
  font-size: var(--step-0);
  color: oklch(var(--purble-text));
}

@media (prefers-color-scheme: dark) {
  body {
    font-weight: 350;
  }
}

a {
  color: oklch(var(--purble-link));
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}