html {
  font-family: var(--serif);
  background-color: rgb(var(--purble-background));
}

body {
  margin: var(--space-s-l, 1.5rem);
  font-size: var(--step-0);
  color: rgb(var(--purble-text));
}

@media (prefers-color-scheme: dark) {
  body {
    font-weight: 350;
  }
}

a {
  color: var(--purble-link);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}