---
import Base from "../layouts/Base.astro";
import BlogPost from "../components/BlogPost.astro";

// a list of blog posts following the above interface
const posts = (await Astro.glob('./posts/*.md')).map(post=>{
  let front = post.frontmatter;
  front.url = post.url;
  return front;
}
);

---

<Base title="Blog">
  <h1>Blog</h1>

  {posts.map((post) => (
    <BlogPost {...post} />
  ))}
</Base>

<style>
  
</style>