---
import Base from "../layouts/Base.astro"
---
<Base title="Falsehoods">
<p>Submit another falsehood at <a href='https://airtable.com/shrFx0AoU7CJfxSP6'>our Airtable form</a>.</p>
&lt;TODO: Port this page from whatever it was to astro&gt;
<div id="output"></div>
</Base>

<!-- <script>
    getAirtableData({
        table_name: 'Falsehoods',
        'view': 'Approved',
    }).then((records) => {
        document.getElementById('output').appendChild(processRecords(records, 'Falsehoods'));
    });
</script> -->