---
import Base from "../layouts/Base.astro"
---

<Base title="Hackathon">
    <p>
        &lt;TODO: Port this page from liquid to astro&gt;
    </p>
</Base>

<!-- <link rel="stylesheet" href="/assets/hack_temp.css">

<div>Here is a list of projects submitted to SIBR's first Cursed Blaseball Viewer Hackathon:</div>

{% assign projects =  site.hackathon_projects | sort_natural:"name" %}

{% for project in projects %}
    <div class="hack">
        <p><strong class="hack-title">{{ project.name }}</strong> - <i>{{ project.author }}</i></p>
        <div style="display: flex; flex-wrap: wrap;">
            <div width=200px; style="margin-right: 20px;">
                <img src="/hackathon_projects/{{ project.image }}" class="project_img">
            </div>
            <div class="details">
                <p>{{ project.content }}</p>
                <hr>

                {% if project.awards %}<p><b>⭐ Awards: </b><i>{{ project.awards }}</i> ⭐</p>{% endif %}

                {% if project.comments %}<p><b>Guest Judge Comments:</b></p><p>{{ project.comments }}</p>{% endif %}

                <ul class="links">
                    {% if project.site %}<li><a href="{{ project.site }}" target="_blank">Site</a></li>{% endif %}
                    {% if project.code %}<li><a href="{{ project.code }}" target="_blank">Code</a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %} -->
