---
import Base from "../layouts/Base.astro";
---

<Base title="Home">
  <p class="mission">
    The Society for Internet Blaseball Research is a community devoted to unravelling Blaseball’s deepest mysteries. We work together to make Blaseball data more accessible by creating tools, analyzing past games, and discovering new records. We are, in our own strange way, participating in the cultural event of Blaseball.
  </p>
  <img src="/favicon.svg">
</Base>

<style>
  .mission {
    font-size: var(--step-1);
    font-weight: 500;
    line-height: 1.5;
    max-width: 70c;
  }

</style>