---
export interface Props {
    rows: Array<{
        title: string
        data: unknown[]
    }>
}

const props = Astro.props as Props;
---

<table>
    {props.rows.map(({title, data}) => (
        <tr>
            <th> {title} </th>
            {data.map(item => (
                <td> {item} </td>
            ))}
        </tr>
    ))}
</table>