---

export interface Props {
  tags: string[];
}

const { 
  tags
} = Astro.props as Props;

tags.sort((a, b) => {
  if (a.toLowerCase() < b.toLowerCase()) {
    return -1;
  }
  if (a.toLowerCase() > b.toLowerCase()) {
    return 1;
  }
  return 0;
})
---

<div class="tags">
    {tags?.map((tag) => (
      <span class={`tag`} x-tag={tag.toLowerCase()}>{tag}</span>
    ))}
</div>

<style>
    .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-xs);
    font-family: var(--barlow);
    font-weight: 90;
    font-size: var(--scale--2);
    font-stretch: 400%;
    margin: 0;
  }

  .tag {
    border-radius: var(--space-3xs);
    padding: var(--space-3xs);
    line-height: 1;
    background-color: oklch(var(--tag-neutral-background)); /*Default Tag Colour*/
    color: oklch(var(--tag-neutral-text));
  }

  .tag:not(#\#) {
    font-weight: 90;
  }

  /* Tag Colours Here */

  .tag[x-tag=meta] {
    background-color: oklch(var(--tag-mauve-background));
    color: oklch(var(--tag-mauve-text));
  }

  .tag[x-tag=beta] {
    background-color: oklch(var(--tag-neutral-background));
    color: oklch(var(--tag-neutral-text));
  }

  .tag[x-tag=blog] {
    background-color: oklch(var(--tag-red-background));
    color: oklch(var(--tag-red-text));
  }

  .tag[x-tag=purble] {
    background-color: oklch(var(--tag-purble-background));
    color: oklch(var(--tag-purble-text));
  }

  .tag[x-tag=rouge] {
    background-color: oklch(var(--tag-rouge-background));
    color: oklch(var(--tag-rouge-text));
  }

  .tag[x-tag="data crimes"] {
    background-color: oklch(var(--tag-red-background));
    color: oklch(var(--tag-red-text));
  }

  .tag[x-tag=orange] {
    background-color: oklch(var(--tag-orange-background));
    color: oklch(var(--tag-orange-text));
  }

  .tag[x-tag=economy] {
    background-color: oklch(var(--tag-yellow-background));
    color: oklch(var(--tag-yellow-text));
  }

  .tag[x-tag=graphs] {
    background-color: oklch(var(--tag-green-background));
    color: oklch(var(--tag-green-text));
  }

  .tag[x-tag=mint] {
    background-color: oklch(var(--tag-mint-background));
    color: oklch(var(--tag-mint-text));
  }

  .tag[x-tag=aqua] {
    background-color: oklch(var(--tag-aqua-background));
    color: oklch(var(--tag-aqua-text));
  }

  .tag[x-tag=research] {
    background-color: oklch(var(--tag-blue-background));
    color: oklch(var(--tag-blue-text));
  }

  .tag[x-tag=project] {
    background-color: oklch(var(--tag-purple-background));
    color: oklch(var(--tag-purple-text));
  }

  .tag[x-tag=nominative-determinism] {
    background-color: oklch(var(--tag-purple-background));
    color: oklch(var(--tag-purple-text));
  }
</style>