<!DoCtYpE hTmL>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title | escape }} &mdash; {% endif %}Society for Internet Blaseball Research</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <a class="logo" href="/"><img src="/assets/logo.svg" alt="Society for Internet Blaseball Research"></a>
            <nav>
                <ul class="links">
                    <li><a href="https://github.com/Society-for-Internet-Blaseball-Research/sibr-faq/blob/master/README.md">FAQ</a></li>
                    <li><a href="https://github.com/Society-for-Internet-Blaseball-Research/sibr-faq/blob/master/projects.md">Projects</a></li>
                    <li><a href="https://research.blaseball-reference.com/">Research</a></li>
                    <li><a href="/falsehoods/">Falsehoods</a></li>
                    <li><a href="https://github.com/Society-for-Internet-Blaseball-Research/blaseball-api-spec">Resources</a></li>
                    <li><a href="https://sibr.bigcartel.com/">Merch</a></li>
                </ul>
                <ul class="icons">
                    <li><a href="https://discord.gg/F8YSJE6"><img src="/assets/discord.svg" alt="Join our Discord"></a></li
                    ><li><a href="https://twitter.com/SIBROfficial"><img src="/assets/twitter.svg" alt="Follow us on Twitter"></a></li
                    ><li><a href="https://github.com/Society-for-Internet-Blaseball-Research"><img src="/assets/github.svg" alt="SIBR on GitHub"></a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
            {{ content }}
        </main>
        <footer>
            <p>SIBR is neither endorsed by or directly affiliated with The Game Band.</p>
        </footer>
    </body>
</html>
